@font-face {
    src: url('../../fonts/Clash-Regular.ttf');
}

.button{
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
    -fx-text-overrun: clip;
    -fx-font-family: 'Clash';
    -fx-font-scale: Bold;
}

.back_btn{
    -fx-font-size: 18px;
    -fx-background-image: url("../../img/ui/button/btn_blue_e.png");
}

.label{
    -fx-font-family: 'Clash';
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-scale: Bold;
}
.list-view{
    -fx-background-color: rgba(0, 0, 0, .5);
}