@font-face {
    src: url('../../fonts/Clash-Regular.ttf');
}

.anchor-pane{
     -fx-background: rgba(0, 0, 0, 0);
}

.text-field{
    -fx-font-family: 'Clash';
    -fx-background: rgba(0, 0, 0, 0);
    -fx-border: none;
    -fx-outline: none;
}

.button{
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
    -fx-text-overrun: clip;
    -fx-font-family: 'Clash';
    -fx-font-scale: Bold;
}

.back_btn{
    -fx-font-size: 25px;
    -fx-background-image: url("../../img/ui/button/btn_blue_e.png");
}

.label {
    -fx-font-family: 'Clash';
    -fx-color: yellow;
    -fx-font-size: 27px;
    -fx-font-scale: Bold;
}
