@font-face {
    src: url('../fonts/Clash-Regular.ttf');
}

#playCardGridPane{
    -fx-background-image : url("../img/menu/background_cards.png");
}


.label{
    -fx-font-family: 'Clash';
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-scale: Bold;
    -fx-color : white;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-border-color: black;
   -fx-border-width: 1px;
}
.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}