@font-face {
    src: url('../fonts/Clash-Regular.ttf');
}

.button{
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
    -fx-text-overrun: clip;
    -fx-font-family: 'Clash';
    -fx-font-scale: Bold;
}

.battle_btn{
    -fx-font-size: 31px;
    -fx-background-image: url("../img/ui/button/btn_yellow.png");
}
.normal_btn{
    -fx-font-size: 8.5px;
    -fx-background-image: url("../img/ui/button/btn_blue_e.png");
}
.cancel_btn{
    -fx-font-size: 10px;
    -fx-background-image: url("../img/ui/button/btn_red_e.png");
}
.profile_btn
{
    -fx-font-size: 11.5px;
    -fx-background-image: url("../img/ui/button/btn_green_e.png");
}

.text-field {
    -fx-font-family: 'Clash';
    -fx-pref-width: 120px;
    -fx-pref-height: 20px;
    -fx-font-size: 14pt;
    -fx-text-alignment: right;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -jfx-focus-color: black;
    -jfx-unfocus-color: #454545;
    -fx-text-inner-color: #ffdc00;
    -fx-font-scale: Bold;
}

.label{
    -fx-font-family: 'Clash';
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-scale: Bold;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}
