
#mainAnchorPane {
    -fx-background-image: url("../img/menu/signup/Background1.png");
    -fx-background-size:cover;

}

@font-face {

    src: url('./../fonts/Clash-Regular.ttf');
}


.button:hover {
    -fx-background-image: url("../img/menu/signup/btn_yellow_pushed.png");
    -fx-background-size: 100% 100%;
    -fx-cursor:pointer;

}

.button {

    -fx-background-image: url("../img/menu/signup/btn_yellow.png");
    -fx-background-size: 100% 100%;
    -fx-border-radius: 20px;
    -fx-font-size: 20 ;
    -fx-color : #e9e9da;
    -fx-cursor:pointer;
    -fx-font-family: 'Clash';

}

.text-field{

    -fx-background: rgba(0, 0, 0, 0);
    -fx-border: none;
    -fx-outline: none;
}

.password-field{
    -fx-background: transparent;
}

