
#mainAnchorPane {
    -fx-background-image: url("../img/Background1.png");
    -fx-background-size:cover;

}

@font-face {
    font-family : 'You Blockhead';
    src: url("../fonts/You Blockhead.ttf");
}

#loginLabel{
    -fx-font-family: "You Blockhead";
    -fx-font-size:40 ;
}

.button:active {
  -fx-box-shadow: 0px 5px #666;
  -fx-transform: translateY(4px);
}


.button:hover {
    -fx-background-image: url("../img/signup/yellow_button02.png");
    -fx-background-size:cover;
    -fx-cursor:pointer;

}

.button {
    -fx-background-image: url("../img/signup/yellow_button00.png");
    -fx-background-size:cover;
    -fx-border-radius: 20px;
    -fx-font-size: 20 ;
    -fx-font-style: bold;
    -fx-color : #e9e9da;
    -fx-cursor:pointer;
    -fx-font-family: "Arial Rounded MT Bold";

}
